/* style.css */
*{
	padding: 0;
	margin: 0;
}

aside{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border:solid 4px black;
	background-color: lightgrey;
}

ul{
	display: flex;
	align-items: center;
	justify-content: space-between;
}